.banner {
  background-image: url(../images/home-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: right;
  @include desktops {
    background-image: url(../images/home-header-sm.png);
    height: 787px;
  }
  @include mobile {
    background-image: url(../images/home-header-sm.png);
    height: 396px;
  }
  .banner-content {
    /* 將文字垂直置中 */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    h1 {
      font-size: 36px;
      color: #650300;
      @include pad {
        font-size: 24px;
      }
      @include mobile {
        font-size: 16px;
      }
    }
    h2 {
      font-size: 64px;
      font-weight: bold;
      color: #650300;
      @include pad {
        font-size: 48px;
      }
      @include mobile {
        font-size: 24px;
      }
    }
    a {
      display: inline-block;
      text-decoration: none;
      font-size: 20px;
      color: #fff;
      background-color: #aa0601;
      padding: 6px 12px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.service {
  background-color: #fbf2f2;
  padding: 80px 0;
  h2 {
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    text-align: center;
    @include mobile {
      font-size: 24px;
    }
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 24px;
    li {
      text-align: center;
      width: calc(25% - 96px / 4);
      @include desktops {
        width: calc(50% - 96px / 4);
      }
      @include mobile {
        width: 100%;
      }
      img {
        width: 100px;
        height: 100px;
      }
      h3 {
        color: #650300;
        font-size: 24px;
        font-weight: bold;
      }
      p {
        text-align-last: left;
      }
    }
  }
}
