header {
  background-color: $primary-color;
  .container {
    @include pad {
      padding: 0;
    }
  }
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include pad {
    text-align: center;
    position: relative;
    padding: 10px 0;
    justify-content: center;
  }
  .ham-icon {
    display: none;
    @include pad {
      display: inline;
      position: absolute;
      left: 13px;
      color: #ffffff;
      font-size: 30px;
    }
  }
  h1 {
    a {
      background-image: url(../images/logo-white.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 80px;
      height: 48px;
      display: block;
      text-indent: 101%; /* 首行縮排 */
      overflow: hidden; /* 自動隱藏超出的文字 */
      white-space: nowrap; /* 強制不換行 */
    }
  }
  .dropdown {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 64px; /* 網格間隙 */
    margin-top: 25px;
    margin-bottom: 25px;
    @include pad {
      display: block;
      margin: 0;
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      max-height: 0px;
      transition: all 0.8s;
      overflow: hidden;
      z-index: 120;
    }
  }
  .active {
    max-height: 300px;
  }
  li {
    a {
      display: block;
      font-size: 20px;
      text-align: center;
      @include pad {
        background: $primary-color;
        color: #ffffff;
        border-top: 1px solid #ffffff;
        padding: 16px 0;
        text-decoration: none;
      }
      &:hover {
        opacity: 0.5;
        @include pad {
          opacity: 1;
          background-color: $primary-color-darken;
        }
      }
    }
  }
}

footer {
  background-color: $primary-color;
  padding-top: 48px;
  padding-bottom: 32px;
  @include pad {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .footer-info {
    display: flex;
    justify-content: space-between;

    .footer-menu {
      display: flex;
      column-gap: 48px;
      a {
        display: block;
        &:hover {
          opacity: 0.5;
        }
      }
    }
    @media (max-width: 767px) {
      .footer-menu {
        display: none;
      }
    }
  }
  .footer-platform {
    display: flex;
    column-gap: 32px;
    @include desktops {
      column-gap: 16px;
    }
    @include pad {
      column-gap: 8px;
    }
    a {
      img {
        width: 48px;
        height: 48px;
        vertical-align: middle;
        @include desktops {
          width: 40px;
          height: 40px;
        }
        @include pad {
          width: 24px;
          height: 24px;
        }
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .footer-contact {
    padding-top: 24px;
    padding-bottom: 32px;
    @include pad {
      padding-top: 0;
      padding-bottom: 24px;
    }
    a {
      font-size: 36px;
      @include pad {
        font-size: 16px;
      }
      &:hover {
        opacity: 0.5;
      }
    }
    span {
      font-size: 36px;
      margin-right: 22px;
      vertical-align: middle;
      @include pad {
        font-size: 18px;
      }
    }
  }
  .footer-copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    border-top: 1px solid #ffffff;
    @include pad {
      display: block;
      padding-top: 16px;
    }
    p {
      color: #fff;
    }
    ul {
      display: flex;
      column-gap: 48px;
      @include pad {
        display: block;
      }
    }
    li {
      @include pad {
        padding-top: 8px;
      }
    }
    a {
      font-size: 14px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
