@mixin desktops {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin pad {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin index-h2 {
  font-size: 48px;
  font-weight: bold;
  color: $primary-color-darken;
  text-align: center;
  @include mobile {
    font-size: 24px;
  }
}

@mixin index-h4 {
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  color: $primary-color;
}

@mixin index-section-padding {
  padding: 80px 0;
  @include mobile {
    padding: 40px 0;
  }
}
